@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-60px, -60px);
  }
}
html {
  scroll-behavior: smooth;
}